@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body {
    background-color: gray;
}

h1 {
    font-family: Fredoka One;
    text-align: center;
}

.container {
    display: grid;
}